<div>
  <h2 id="page-heading" data-cy="ProjectMasterHeading">
    <span payrollTranslate="payrollApp.projectMaster.home.title">Project Masters</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span payrollTranslate="payrollApp.projectMaster.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-project-master"
        [routerLink]="['/project-master/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span payrollTranslate="payrollApp.projectMaster.home.createLabel"> Create a new Project Master </span>
      </button>
    </div>
  </h2>

  <payroll-alert-error></payroll-alert-error>

  <payroll-alert></payroll-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="projectMasters?.length === 0">
    <span payrollTranslate="payrollApp.projectMaster.home.notFound">No projectMasters found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="projectMasters && projectMasters.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span payrollTranslate="global.field.id">ID</span></th>
          <th scope="col"><span payrollTranslate="payrollApp.projectMaster.projectMasterCode">Project Master Code</span></th>
          <th scope="col"><span payrollTranslate="payrollApp.projectMaster.projectMasterName">Project Master Name</span></th>
          <th scope="col"><span payrollTranslate="payrollApp.projectMaster.costCenterType">Cost Center Type</span></th>
          <th scope="col"><span payrollTranslate="payrollApp.projectMaster.projectDirectorName">Project Director Name</span></th>
          <th scope="col"><span payrollTranslate="payrollApp.projectMaster.phone">Phone</span></th>
          <th scope="col"><span payrollTranslate="payrollApp.projectMaster.costCenter">Cost Center</span></th>
          <th scope="col"><span payrollTranslate="payrollApp.projectMaster.employee">Employee</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let projectMaster of projectMasters; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/project-master', projectMaster.id, 'view']">{{ projectMaster.id }}</a>
          </td>
          <td>{{ projectMaster.projectMasterCode }}</td>
          <td>{{ projectMaster.projectMasterName }}</td>
          <td>{{ projectMaster.costCenterType }}</td>
          <td>{{ projectMaster.projectDirectorName }}</td>
          <td>{{ projectMaster.phone }}</td>
          <td>
            <div *ngIf="projectMaster.costCenter">
              <a [routerLink]="['/cost-center', projectMaster.costCenter?.id, 'view']">{{ projectMaster.costCenter?.costCenterName }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="projectMaster.employee">
              <a [routerLink]="['/employee', projectMaster.employee?.id, 'view']">{{ projectMaster.employee?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/project-master', projectMaster.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" payrollTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/project-master', projectMaster.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" payrollTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(projectMaster)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" payrollTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
