<div>
  <h2 id="page-heading" data-cy="CostCenterHeading">
    <span payrollTranslate="payrollApp.costCenter.home.title">Cost Centers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span payrollTranslate="payrollApp.costCenter.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-cost-center"
        [routerLink]="['/cost-center/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span payrollTranslate="payrollApp.costCenter.home.createLabel"> Create a new Cost Center </span>
      </button>
    </div>
  </h2>

  <payroll-alert-error></payroll-alert-error>

  <payroll-alert></payroll-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="costCenters?.length === 0">
    <span payrollTranslate="payrollApp.costCenter.home.notFound">No costCenters found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="costCenters && costCenters.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span payrollTranslate="global.field.id">ID</span></th>
          <th scope="col"><span payrollTranslate="payrollApp.costCenter.costCenterCode">Cost Center Code</span></th>
          <th scope="col"><span payrollTranslate="payrollApp.costCenter.costCenterName">Cost Center Name</span></th>
          <th scope="col"><span payrollTranslate="payrollApp.costCenter.costCenterType">Cost Center Type</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let costCenter of costCenters; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/cost-center', costCenter.id, 'view']">{{ costCenter.id }}</a>
          </td>
          <td>{{ costCenter.costCenterCode }}</td>
          <td>{{ costCenter.costCenterName }}</td>
          <td>{{ costCenter.costCenterType }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/cost-center', costCenter.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" payrollTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/cost-center', costCenter.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" payrollTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(costCenter)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" payrollTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
