<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="socialSecurity">
      <h2 data-cy="socialSecurityDetailsHeading"><span payrollTranslate="payrollApp.socialSecurity.detail.title">Social Security</span></h2>

      <hr />

      <payroll-alert-error></payroll-alert-error>

      <payroll-alert></payroll-alert>

      <dl class="row-md jh-entity-details">
        <dt><span payrollTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ socialSecurity.id }}</span>
        </dd>
        <dt><span payrollTranslate="payrollApp.socialSecurity.eps">Eps</span></dt>
        <dd>
          <span>{{ socialSecurity.eps }}</span>
        </dd>
        <dt><span payrollTranslate="payrollApp.socialSecurity.afp">Afp</span></dt>
        <dd>
          <span>{{ socialSecurity.afp }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span payrollTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/social-security', socialSecurity.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span payrollTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
