<div>
  <h2 id="page-heading" data-cy="DeductionHeading">
    <span payrollTranslate="payrollApp.deduction.home.title">Deductions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span payrollTranslate="payrollApp.deduction.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-deduction"
        [routerLink]="['/deduction/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span payrollTranslate="payrollApp.deduction.home.createLabel"> Create a new Deduction </span>
      </button>
    </div>
  </h2>

  <payroll-alert-error></payroll-alert-error>

  <payroll-alert></payroll-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="deductions?.length === 0">
    <span payrollTranslate="payrollApp.deduction.home.notFound">No deductions found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="deductions && deductions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span payrollTranslate="global.field.id">ID</span></th>
          <th scope="col"><span payrollTranslate="payrollApp.deduction.deductionCode">Deduction Code</span></th>
          <th scope="col"><span payrollTranslate="payrollApp.deduction.description">Description</span></th>
          <th scope="col"><span payrollTranslate="payrollApp.deduction.accountPlan">Account Plan</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let deduction of deductions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/deduction', deduction.id, 'view']">{{ deduction.id }}</a>
          </td>
          <td>{{ deduction.deductionCode }}</td>
          <td>{{ deduction.description }}</td>
          <td>
            <span *ngFor="let accountPlan of deduction.accountPlans; let last = last">
              <a class="form-control-static" [routerLink]="['/account-plan', accountPlan.id, 'view']">{{ accountPlan.id }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/deduction', deduction.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" payrollTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/deduction', deduction.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" payrollTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(deduction)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" payrollTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
