<div>
  <h2 id="page-heading" data-cy="IncomeHeading">
    <span payrollTranslate="payrollApp.income.home.title">Incomes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span payrollTranslate="payrollApp.income.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-income"
        [routerLink]="['/income/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span payrollTranslate="payrollApp.income.home.createLabel"> Create a new Income </span>
      </button>
    </div>
  </h2>

  <payroll-alert-error></payroll-alert-error>

  <payroll-alert></payroll-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="incomes?.length === 0">
    <span payrollTranslate="payrollApp.income.home.notFound">No incomes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="incomes && incomes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span payrollTranslate="global.field.id">ID</span></th>
          <th scope="col"><span payrollTranslate="payrollApp.income.incomeCode">Income Code</span></th>
          <th scope="col"><span payrollTranslate="payrollApp.income.description">Description</span></th>
          <th scope="col"><span payrollTranslate="payrollApp.income.accountPlan">Account Plan</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let income of incomes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/income', income.id, 'view']">{{ income.id }}</a>
          </td>
          <td>{{ income.incomeCode }}</td>
          <td>{{ income.description }}</td>
          <td>
            <span *ngFor="let accountPlan of income.accountPlans; let last = last">
              <a class="form-control-static" [routerLink]="['/account-plan', accountPlan.id, 'view']">{{ accountPlan.id }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/income', income.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" payrollTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/income', income.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" payrollTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(income)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" payrollTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
